<body>
    <app-header></app-header>
 
 <!-- new list -->
 <div *ngIf="DealList.length>0">
 <div class="container-fluid bestseller clear" >
<!-- 
    <div class="row">
       <div class="col-sm-12 col-xs-12 text-center bestseller-heading " style="margin-top: 12px;">
         <h1 (click)="getDealId(item.Id)" ><span>{{item.ListName}}</span></h1>
       </div>
     </div> -->




    <div class="row list-hover-icon mrgn-tb-lg" >
      <div *ngFor="let item of DealList"> 
       <div
         class="col-sm-3 col-md-2 col-lg-2 col-xs-12 text-center mrgn-b-md doc-item common-doctor animated fadeInUp clearfix ae-animation-fadeInUp"
         *ngFor="let cat of item.products">
         <a [routerLink]="" (click)="passTheSalt(cat.Id,cat.LandingVariant.Id)">
           <div class="bestseller-box" *ngIf="cat.InStock>0; else elseblock">

             <div class="bestseller-sale" *ngIf="cat.Discount>0">{{cat.Discount}}%</div>
             <div class="sale-tag"><img src="assets/img/sale-tag-img.png"></div>

             <div class="bestseller-img">

               <img src={{cat.Url150}} />
               <div class="countdown-time-box-product-list"*ngIf="cat.Discount>0" ><i class="far fa-clock"></i>  <countdown-timer [end]="item.ActiveTo"></countdown-timer></div>
             </div>
             <div class="bestseller-text">{{cat.Name.length > 19 ? cat.Name.substring(0,19)+"..." : cat.Name}}</div>
             <div class="bestseller-stars" *ngIf="cat.Rating==0">
              <i class="far fa-star" aria-hidden="true"></i>
              <i class="far fa-star" aria-hidden="true"></i>
              <i class="far fa-star" aria-hidden="true"></i>
              <i class="far fa-star" aria-hidden="true"></i>
              <i class="far fa-star" aria-hidden="true"></i>
            </div>
            <div class="bestseller-stars" *ngIf="cat.Rating==1">
             <i class="fa fa-star" aria-hidden="true"></i>
             <i class="far fa-star" aria-hidden="true"></i>
             <i class="far fa-star" aria-hidden="true"></i>
             <i class="far fa-star" aria-hidden="true"></i>
             <i class="far fa-star" aria-hidden="true"></i>
           </div>
           <div class="bestseller-stars" *ngIf="cat.Rating==2">
             <i class="fa fa-star" aria-hidden="true"></i>
             <i class="fa fa-star" aria-hidden="true"></i>
             <i class="far fa-star" aria-hidden="true"></i>
             <i class="far fa-star" aria-hidden="true"></i>
             <i class="far fa-star" aria-hidden="true"></i>
           </div>
           <div class="bestseller-stars" *ngIf="cat.Rating==3">
             <i class="fa fa-star" aria-hidden="true"></i>
             <i class="fa fa-star" aria-hidden="true"></i>
             <i class="fa fa-star" aria-hidden="true"></i>
             <i class="far fa-star" aria-hidden="true"></i>
             <i class="far fa-star" aria-hidden="true"></i>
           </div>
           <div class="bestseller-stars" *ngIf="cat.Rating==4">
             <i class="fa fa-star" aria-hidden="true"></i>
             <i class="fa fa-star" aria-hidden="true"></i>
             <i class="fa fa-star" aria-hidden="true"></i>
             <i class="fa fa-star" aria-hidden="true"></i>
             <i class="far fa-star" aria-hidden="true"></i>
           </div>
           <div class="bestseller-stars" *ngIf="cat.Rating==5">
             <i class="fa fa-star" aria-hidden="true"></i>
             <i class="fa fa-star" aria-hidden="true"></i>
             <i class="fa fa-star" aria-hidden="true"></i>
             <i class="fa fa-star" aria-hidden="true"></i>
             <i class="fa fa-star" aria-hidden="true"></i>
           </div>
             <div class="bestseller-price" *ngIf="cat.Discount>0">
               <span class="price-off">${{cat.SellingPrice.toFixed(2)}}</span>
               <span class="price-now">${{cat.PriceAfterdiscount.toFixed(2)}}</span>
             </div>
             <div class="bestseller-price" *ngIf="cat.Discount==0">
              <!-- <span class="price-off">${{cat.SellingPrice}}</span> -->
              <span class="price-now">${{cat.PriceAfterdiscount.toFixed(2)}}</span>
            </div>
             <!-- <div class="product-action icon-vertical">
               <a class="">
                 <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                 <span class="tooltip">Add to cart</span>
               </a>

               <a class="">
                 <i class="fa fa-eye" aria-hidden="true"></i>
                 <span class="tooltip">Quick View</span>
               </a>

               <a class="">
                 <i class="fa fa-refresh" aria-hidden="true"></i>
                 <span class="tooltip">Compare</span>
               </a>

               <a class="">
                 <i class="fa fa-heart-o" aria-hidden="true"></i>
                 <span class="tooltip">Add to Wishlist</span>
               </a>

             </div> -->
           </div>
           <ng-template #elseblock>
             <div class="bestseller-box">

               <div class="bestseller-sale" *ngIf="cat.Discount>0">{{cat.Discount}}%</div>
               <div class="bestseller-out-of-stock">Out of Stock</div>
               <div class="bestseller-img out-of-stock">

                 <img src={{cat.Url150}} />
                 <div class="countdown-time-box-product-list" *ngIf="cat.Discount>0" ><i class="far fa-clock"></i>  <countdown-timer [end]="item.ActiveTo"></countdown-timer></div>
               </div>
               <div class="bestseller-text">{{cat.Name.length > 19 ? cat.Name.substring(0,19)+"..." : cat.Name}}</div>
               <div class="bestseller-stars" *ngIf="cat.Rating==0">
                <i class="far fa-star" aria-hidden="true"></i>
                <i class="far fa-star" aria-hidden="true"></i>
                <i class="far fa-star" aria-hidden="true"></i>
                <i class="far fa-star" aria-hidden="true"></i>
                <i class="far fa-star" aria-hidden="true"></i>
              </div>
              <div class="bestseller-stars" *ngIf="cat.Rating==1">
               <i class="fa fa-star" aria-hidden="true"></i>
               <i class="far fa-star" aria-hidden="true"></i>
               <i class="far fa-star" aria-hidden="true"></i>
               <i class="far fa-star" aria-hidden="true"></i>
               <i class="far fa-star" aria-hidden="true"></i>
             </div>
             <div class="bestseller-stars" *ngIf="cat.Rating==2">
               <i class="fa fa-star" aria-hidden="true"></i>
               <i class="fa fa-star" aria-hidden="true"></i>
               <i class="far fa-star" aria-hidden="true"></i>
               <i class="far fa-star" aria-hidden="true"></i>
               <i class="far fa-star" aria-hidden="true"></i>
             </div>
             <div class="bestseller-stars" *ngIf="cat.Rating==3">
               <i class="fa fa-star" aria-hidden="true"></i>
               <i class="fa fa-star" aria-hidden="true"></i>
               <i class="fa fa-star" aria-hidden="true"></i>
               <i class="far fa-star" aria-hidden="true"></i>
               <i class="far fa-star" aria-hidden="true"></i>
             </div>
             <div class="bestseller-stars" *ngIf="cat.Rating==4">
               <i class="fa fa-star" aria-hidden="true"></i>
               <i class="fa fa-star" aria-hidden="true"></i>
               <i class="fa fa-star" aria-hidden="true"></i>
               <i class="fa fa-star" aria-hidden="true"></i>
               <i class="far fa-star" aria-hidden="true"></i>
             </div>
             <div class="bestseller-stars" *ngIf="cat.Rating==5">
               <i class="fa fa-star" aria-hidden="true"></i>
               <i class="fa fa-star" aria-hidden="true"></i>
               <i class="fa fa-star" aria-hidden="true"></i>
               <i class="fa fa-star" aria-hidden="true"></i>
               <i class="fa fa-star" aria-hidden="true"></i>
             </div>
               <div class="bestseller-price" *ngIf="cat.Discount>0">
                 <span class="price-off">${{cat.SellingPrice.toFixed(2)}}</span>
                 <span class="price-now">${{cat.PriceAfterdiscount.toFixed(2)}}</span>
               </div>
               <div class="bestseller-price" *ngIf="cat.Discount==0">
                <!-- <span class="price-off">${{cat.SellingPrice}}</span> -->
                <span class="price-now">${{cat.PriceAfterdiscount.toFixed(2)}}</span>
              </div>
               <div class="product-action icon-vertical">
                 <a class="">
                   <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                   <span class="tooltip">{{'Register.Compare.AddToCartButton'|translate}}</span>
                 </a>

                 <a class="">
                   <i class="fa fa-eye" aria-hidden="true"></i>
                   <span class="tooltip">{{'Register.Compare.QuickView'|translate}}</span>
                 </a>

                 <a class="">
                   <i class="fa fa-refresh" aria-hidden="true"></i>
                   <span class="tooltip">{{'Register.Compare.CompareText'|translate}}</span>
                 </a>

                 <a class="">
                   <i class="fa fa-heart-o" aria-hidden="true"></i>
                   <span class="tooltip">{{'Register.Compare.AddToWishlist'|translate}}</span>
                 </a>

               </div>
             </div>
           </ng-template>

         </a>
         <ul class="list-inline social-lists animate">
           <li><a (click)="addToCart(cat.LandingVariant.Id,cat.SellingPrice,cat.Discount,cat.PriceAfterdiscount)"
               [class.disabled]="cat.InStock<=0 ? true : null" title="{{'Register.Compare.AddToCartButton'|translate}}"><i class="fas fa-cart-plus"></i></a>
           </li>
           <li><a (click)="getProductDetails1(cat.LandingVariant.Id)" title="{{'Register.Compare.AddToWishlist'|translate}}"><i
                 class="fas fa-heart"></i></a></li>
           <li><a (click)="addCompare(cat.LandingVariant.Id)" title="{{'Register.Compare.CompareText'|translate}}"><i class="fas fa-random"></i></a>
           </li>
         </ul>
       </div>
      </div>

     </div>
     </div>
    </div>
    
    
    <!-- new list end -->
    <div class="conatiner-fluid " *ngIf="emptyDeal">
        <div class="container p-tb-2 ">
          <div class="cart-page-con-area empty-cart-con">
           
            <div class="row" >
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">
                <img src="assets/img/sad-deals.png">
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">
                <h3>{{'Register.DealExpired'|translate}}</h3>
                <!-- <p>{{'Register.Cart.GoodDay'|translate}}</p> -->
                <button class="btn btn-outline btn-primary" type="button" [routerLink]="['']"
                  routerLinkActive="router-link-active">{{'Register.Cart.ContinueShoppingButton'|translate}} <i
                    class="fas fa-chevron-right"></i></button>
              </div>
            </div>
          </div>
          </div>
          </div>
          <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
            <p style="font-size: 20px; color:#fff">{{'Register.LoadingWait'|translate}}</p>
          </ngx-spinner>
    <app-footer></app-footer>
</body>
