
<div class="main-panel">
    <div class="content">
            <div class="page-inner">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
      <div class="card-header">
          <div class="card-head-row">
            <div class="card-title">Add sub category</div>
            <div class="btn-group btn-group-page-header ml-auto">
                   
                    <button type="button" class="btn btn-success" [routerLink]="['/admin/MenuList']" routerLinkActive="router-link-active" >Show category list</button>
                </div>
          
          </div>
        </div>
        
  <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="data.Id">
  <div class="row">
   

 
   
    <div class="form-group col-md-6">
        
          <div class="col-md-12">

              <label>First level Menu</label>
              <input name="FirstLevelName" #FirstLevelName="ngModel" [(ngModel)]="data.FirstLevelName" class="form-control" required>
              <div class="validation-error" *ngIf="FirstLevelName.invalid && FirstLevelName.touched">This field is required.</div>
            </div>
            <div class="col-md-12">

              <label>First spanish level Menu</label>
              <input name="FirstLevelSpanishName" #FirstLevelSpanishName="ngModel" [(ngModel)]="data.FirstLevelSpanishName" class="form-control" required>
              <div class="validation-error" *ngIf="FirstLevelSpanishName.invalid && FirstLevelSpanishName.touched">This field is required.</div>
            </div>


        <div class="col-md-12">
        <label>Seconed level Menu</label>
        <input name="SeconedLevelName" #SeconedLevelName="ngModel" [(ngModel)]="data.SeconedLevelName" class="form-control" required>
        <div class="validation-error" *ngIf="SeconedLevelName.invalid && SeconedLevelName.touched">This field is required.</div>
      </div>
      
      <div class="col-md-12">
        <label>Seconed level spanish Menu</label>
        <input name="SeconedLevelSpanishName" #SeconedLevelSpanishName="ngModel" [(ngModel)]="data.SeconedLevelSpanishName" class="form-control" required>
        <div class="validation-error" *ngIf="SeconedLevelSpanishName.invalid && SeconedLevelSpanishName.touched">This field is required.</div>
      </div>
    
    
      <div class="col-md-12">

          <label>Seconed level Parent</label>
          
          <select name="SeconedLevelparentId" #SeconedLevelparentId="ngModel" [(ngModel)]="data.SeconedLevelparentId"  class="form-control" selected [(value)]="data.SeconedLevelparentId" >
          <option value="0">Select Option</option>
          <option *ngFor="let c of parentLIst ;" [value]="c.Id">
            {{c.Name}}
          </option>
        </select>

      </div>
      <div class="col-md-12">
          <label>Thrid level Menu</label>
          <input name="ThridLevelName" #ThridLevelName="ngModel" [(ngModel)]="data.ThridLevelName" class="form-control" required>
          <div class="validation-error" *ngIf="ThridLevelName.invalid && ThridLevelName.touched">This field is required.</div>
        </div>
        <div class="col-md-12">
          <label>Thrid level spanish Menu</label>
          <input name="ThridLevelSpanishName" #ThridLevelSpanishName="ngModel" [(ngModel)]="data.ThridLevelSpanishName" class="form-control" required>
          <div class="validation-error" *ngIf="ThridLevelSpanishName.invalid && ThridLevelSpanishName.touched">This field is required.</div>
        </div>
      
      
      <div class="col-md-12">

          <label>Thrid level Parent</label>
          
          <select name="ThridLevelparentId" #SeconedLevelId="ngModel" [(ngModel)]="data.ThridLevelparentId"  class="form-control" selected [(value)]="data.ThridLevelparentId" >
          <option value="0">Select Option</option>
          <option *ngFor="let c of datalist ;" [value]="c.subId==0?c.Id:c.subId">
            {{c.Name}}
          </option>
        </select>

      </div>

      
      </div>
      <div class="form-group col-md-6">
       
              <label>Category Image</label>
              <label for="files" class="btn btn-info btn-border btn-round btn-sm ml-2 ">Select Image</label>
              <input id="files" #Image style="visibility:hidden;" type="file" (change)="handleFileInput($event)">
    
              <div class="upload-img-area mt-2" >
    
                  <img [src]="imageUrl ? imageUrl:data.Image " style="width:250px;height:200px">
    
              </div>
           
      </div>
  </div>
    <div class="form-group col-sm-2">
      <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-block">SUBMIT</button>
    </div>
  </form>
  </div>
  </div>
  </div>