<div class="main-panel">
  <div class="content">
    <div class="page-inner">
      <div class="page-header">
        <h4 class="page-title">{{'Register.Dashboard'|translate}}</h4>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row">
                <!-- <div class="card-title">
                                    <div class="card-title-col">
                                        <label>Store View:</label>
                                    </div>
                                    <div class="card-title-col">
                                        <select class="form-control-sm">
                                            <option value="Left">All Store View</option>
                                            <option value="Left">Store View option 1</option>
                                            <option value="Left">Store View option 2</option>
                                            <option value="Left">Store View option 3</option>
                                        </select>
                                    </div>
                                    <div class="card-title-col">
                                        <button class="btn btn-icon btn-link btn-default btn-sm btn-refresh-card" title="What is this?"><span
                                                class="fas fa-question-circle"></span></button>
                                    </div>
                                </div> -->
                <div class="card-tools">
                  <a class="btn btn-success btn-sm" (click)="Reload()">
                    <span class="btn-label">
                      <i class="fas fa-sync-alt"></i>
                    </span>
                    {{'Register.ReloadData'|translate}}
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card card-stats card-round">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col-icon">
                              <div class="icon-big text-center icon-success bubble-shadow-small">
                                <i class="far fa-chart-bar"></i>
                              </div>
                            </div>
                            <div class="col col-stats ml-3 ml-sm-0">
                              <div class="numbers">
                                <p class="card-category">{{'Register.LifetimeSales'|translate}}</p>
                                <h4 class="card-title text-success">{{lifeTimeSales}} $</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="card card-stats card-round">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col-icon">
                              <div class="icon-big text-center icon-default bubble-shadow-small">
                                <i class="far fa-check-circle"></i>
                              </div>
                            </div>
                            <div class="col col-stats ml-3 ml-sm-0">
                              <div class="numbers">
                                <p class="card-category">{{'Register.AverageOrder'|translate}}</p>
                                <h4 class="card-title">{{averageOrder}} $</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <div class="card-title">{{'Register.LastOrders'|translate}}</div>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th scope="col">{{'Register.Customer'|translate}} </th>
                                  <th scope="col">{{'Register.Items'|translate}}</th>
                                  <th scope="col" class="text-right">{{'Register.MyOrders.Total'|translate}}</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of orders">
                                  <td>{{item.CustomerName}}</td>
                                  <td>{{item.items}}</td>
                                  <td class="text-right">{{item.Total}} $</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <div class="card-title">{{'Register.LastSearchTerms'|translate}}</div>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th scope="col">{{'Register.SearchTerm'|translate}} </th>
                                  <th scope="col">{{'Register.Results'|translate}}</th>
                                  <th scope="col" class="text-right">{{'Register.Users'|translate}}</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let x of Lastlist">
                                  <td>{{x.Name}}</td>
                                  <td>{{x.ProductCount}}</td>
                                  <td class="text-right">{{x.UserCount}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <div class="card-title">{{'Register.TopSearchTerms'|translate}}</div>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive" id="something">
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th scope="col">{{'Register.SearchTerm'|translate}} </th>
                                  <th scope="col">{{'Register.Results'|translate}}</th>
                                  <th scope="col" class="text-right">{{'Register.Users'|translate}}</th>
                                </tr>
                              </thead>
                              <tbody>
                                <!-- <tr>
                                  <div id="localTrial"></div>
                                </tr> -->
                                <tr *ngFor="let x of Toplist">
                                  <td>{{x.Name}}</td>
                                  <td>{{x.ProductCount}}</td>
                                  <td class="text-right">{{x.UserCount}}</td>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-body" (click)="setFailedTransactions(); ">
                          <ejs-tab id="element" heightAdjustMode='300px' overflowMode='Scrollable'>
                            <e-tabitems>
                              <e-tabitem [header]='headerText[0]'>
                                <ng-template #headerText>
                                  <div>
                                    {{'Register.TotalSales'|translate}}
                                  </div>
                                </ng-template>
                                <ng-template #content>
                                  <div class="row mt-3">
                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                      <input class="form-control" bsDatepicker #yr (onShown)="onOpenCalendar($event)"
                                        [bsConfig]="{ dateInputFormat: 'YYYY' }" [(ngModel)]="year" type="text"
                                        autocomplete="off">
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4">
                                      <select class="form-control" #period name="Period">
                                        <!-- <option value="null">Select Period</option> -->
                                        <option value="0">{{'Register.Allyear'|translate}}</option>
                                        <option value="1">{{'Register.Today'|translate}}</option>
                                        <option value="2">{{'Register.Last1Hour'|translate}}</option>
                                        <!-- <option value="1">January</option>
                                        <option value="2">Feburary</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option><option value="8">August</option><option value="9">September</option><option value="10">Octuber</option><option value="6">June</option><option value="6">June</option><option value="6">June</option><option value="6">June</option><option value="6">June</option><option value="6">June</option> -->
                                      </select>
                                    </div>
                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                      <input type="button" class="btn btn-info" id="ProductSearch"
                                        value="{{'Register.Search'|translate}}"
                                        (click)=getSales(yr.value,period.value) />
                                    </div>
                                  </div>
                                  <div id="container"></div>
                                </ng-template>
                              </e-tabitem>
                              <e-tabitem [header]='headerText[7]'>
                                <e-tabitem>
                                  <ng-template #headerText>
                                    <div>
                                      {{'Register.Transactions'|translate}}
                                    </div>
                                  </ng-template>
                                  <ng-template #content>
                                    <div id="transactionStatus"></div>
                                  </ng-template>
                                </e-tabitem>
                                <e-tabitem [header]='headerText[4]'>
                                  <e-tabitem>
                                    <ng-template #headerText>
                                      <div>
                                        {{'Register.Sales/Refunds'|translate}}
                                      </div>
                                    </ng-template>
                                    <ng-template #content>
                                      <div id="salesAndRefund"></div>
                                    </ng-template>
                                  </e-tabitem>
                                </e-tabitem>
                              </e-tabitem>
                              <!-- <e-tabitem [header]='headerText[4]'>
                                <ng-template #content>
                                  <div id="salesAndRefund"></div>
                                </ng-template>
                              </e-tabitem> -->
                            </e-tabitems>
                          </ejs-tab>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-body" (click)=" setSalesAndRefunds();">
                          <ejs-tab id="element" heightAdjustMode='300px' overflowMode='Scrollable'>
                            <e-tabitems>
                              <e-tabitem [header]='headerText[4]'>
                                <e-tabitem>
                                  <ng-template #headerText>
                                    <div>
                                      {{'Register.Sales/Refunds'|translate}}
                                    </div>
                                  </ng-template>
                                  <ng-template #content>
                                    <div id="salesAndRefund"></div>
                                  </ng-template>
                                </e-tabitem>
                              </e-tabitem>
                            </e-tabitems>
                          </ejs-tab>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <!-- setMostSearchedKeywords(); -->
                        <div class="card-body" (click)="setmostSearchedProducts();setNumberOfUsers();">
                          <ejs-tab id="element" heightAdjustMode='300px' overflowMode='Scrollable'>
                            <e-tabitems>
                              <!-- <e-tabitem [header]='headerText[3]'>
                              <e-tabitem>
                                <ng-template #headerText>
                                  <div>
                                    {{'Register.BestSellers'|translate}}
                                  </div>
                                </ng-template>
                                <ng-template #content>
                                  <div id="bestSellers"></div>
                                </ng-template>
                              </e-tabitem>
                              </e-tabitem>
                              <e-tabitem [header]='headerText[1]'>
                              <e-tabitem>
                                <ng-template #headerText>
                                  <div>
                                    {{'Register.TopSearchKeywords'|translate}}
                                  </div>
                                </ng-template>
                                <ng-template #content>
                                  <div id="topKeywords"></div>
                                </ng-template>
                              </e-tabitem> -->
                              <!-- </e-tabitem> -->
                              <e-tabitem [header]='headerText[2]'>
                                <e-tabitem>
                                  <ng-template #headerText>
                                    <div>
                                      {{'Register.TopSearchProducts'|translate}}
                                    </div>
                                  </ng-template>
                                  <ng-template #content>
                                    <div id="topProducts"></div>
                                  </ng-template>
                                </e-tabitem>
                              </e-tabitem>
                              <e-tabitem [header]='headerText[9]'>
                                <e-tabitem>
                                  <ng-template #headerText>
                                    <div>
                                      {{'Register.CurrentUsers'|translate}}
                                    </div>
                                  </ng-template>
                                  <ng-template #content>
                                    <div id="numOfUsers"></div>
                                  </ng-template>
                                </e-tabitem>
                              </e-tabitem>
                            </e-tabitems>
                          </ejs-tab>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-body" (click)="setTopCustomers();">
                          <ejs-tab id="element" heightAdjustMode='300px' overflowMode='Scrollable'>
                            <e-tabitems>
                              <e-tabitem [header]='headerText[6]'>
                                <e-tabitem>
                                  <ng-template #headerText>
                                    <div>
                                      {{'Register.NewCustomers'|translate}}
                                    </div>
                                  </ng-template>
                                  <ng-template #content>
                                    <div id="newCustomers"></div>
                                  </ng-template>
                                </e-tabitem>
                              </e-tabitem>
                              <e-tabitem [header]='headerText[8]'>
                                <e-tabitem>
                                  <ng-template #headerText>
                                    <div>
                                      {{'Register.TopCustomers'|translate}}
                                    </div>
                                  </ng-template>
                                  <ng-template #content>
                                    <div id="topCustomers"></div>
                                  </ng-template>
                                </e-tabitem>
                              </e-tabitem>
                              <e-tabitem [header]='headerText[9]'>
                                <e-tabitem>

                                  <ng-template #content>
                                    <div id="numOfUsers"></div>
                                  </ng-template>
                                </e-tabitem>
                              </e-tabitem>
                            </e-tabitems>
                          </ejs-tab>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-body" (click)="setUserActivity()">
                          <ejs-tab id="element" heightAdjustMode='300px' overflowMode='Scrollable'>
                            <e-tabitems>
                              <e-tabitem [header]='headerText[10]'>
                                <e-tabitem>
                                  <ng-template #headerText>
                                    <div>
                                      {{'Register.TodayUsers'|translate}}
                                    </div>
                                  </ng-template>
                                  <ng-template #content>
                                    <div id="numOfUsersToday"></div>
                                  </ng-template>
                                </e-tabitem>
                              </e-tabitem>
                              <e-tabitem [header]='headerText[11]'>
                                <e-tabitem>
                                  <ng-template #headerText>
                                    <div>
                                      {{'Register.UserActivity'|translate}}
                                    </div>
                                  </ng-template>
                                  <ng-template #content>
                                    <div id="userActivity"></div>
                                  </ng-template>
                                </e-tabitem>
                              </e-tabitem>
                            </e-tabitems>
                          </ejs-tab>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <!-- setmostSearchedProducts()  getBestSellers();-->
                        <div class="card-body" (click)="setMostSearchedKeywords();">
                          <ejs-tab id="element" heightAdjustMode='300px' overflowMode='Scrollable'>
                            <e-tabitems>
                              <e-tabitem [header]='headerText[1]'>
                                <e-tabitem>
                                  <ng-template #headerText>
                                    <div>
                                      {{'Register.TopSearchKeywords'|translate}}
                                    </div>
                                  </ng-template>
                                  <ng-template #content>
                                    <div id="topKeywords"></div>
                                  </ng-template>
                                </e-tabitem>
                              </e-tabitem>
                              <!-- <e-tabitem [header]='headerText[2]'>
                                <ng-template #content>
                                  <div id="topProducts"></div>
                                </ng-template>
                              </e-tabitem> -->
                            </e-tabitems>
                          </ejs-tab>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <!-- setmostSearchedProducts() -->
                        <div class="card-body" (click)="getBestSellers();">
                          <ejs-tab id="element" heightAdjustMode='300px' overflowMode='Scrollable'>
                            <e-tabitems>
                              <e-tabitem [header]='headerText[3]'>
                                <e-tabitem>
                                  <ng-template #headerText>
                                    <div>
                                      {{'Register.BestSellers'|translate}}
                                    </div>
                                  </ng-template>
                                  <ng-template #content>
                                    <div id="bestSellers"></div>
                                  </ng-template>
                                </e-tabitem>
                              </e-tabitem>
                              <!-- <e-tabitem [header]='headerText[1]'>
                                <ng-template #content>
                                  <div id="topKeywords"></div>
                                </ng-template>
                              </e-tabitem> -->
                              <!-- <e-tabitem [header]='headerText[2]'>
                                <ng-template #content>
                                  <div id="topProducts"></div>
                                </ng-template>
                              </e-tabitem> -->
                            </e-tabitems>
                          </ejs-tab>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- scrollabletab -->
  </div>
</div>