<div class="main-panel">
  <div class="content">
    <div class="page-inner">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row">
                <div class="card-title">{{'Register.AllOrders'|translate}}</div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group" id="adv-search">
                    <input type="text" class="form-control" [(ngModel)]="SearchName" placeholder="Search..">
                    <div class="input-group-btn">
                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" (click)="search()"><span class="fa fa-search"
                            aria-hidden="true"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pt-3">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>{{'Register.OrderId'|translate}}</th>
                          <th>{{'Register.Status'|translate}}</th>
                          <th>{{'Register.TrackingId'|translate}}</th>
                          <th>{{'Register.UpdatedDate'|translate}}</th>
                          <th>{{'Register.Actions'|translate}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let order of ordersList">
                          <td>{{order.OrderId}}</td>
                          <td>{{order.Status}}</td>
                          <td>{{order.TrackId}}</td>
                          <td>{{order.UpdatedDate}}</td>
                          <td>
                            <button (click)="editOrder(order.Id)" class="btn btn-sm btn-outline-danger"><i
                                class="fas fa-eye"></i>&nbsp; {{'Register.View'|translate}}</button>
                            <!-- <button *ngIf="order.TrackId" (click)="trackOrder(order.Id)"
                            class="btn btn-sm btn-outline-danger mr-2"><i class="fas fa-eye"></i>&nbsp; Track Order</button> -->
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="no-left-right" *ngIf="count">
                    <app-admin-pagination [count]="count" [page]="page" [(perPage)]="perPage"
                      [pagesToShow]="pagesToShow" (goPrev)="prevPage()" (goNext)="nextPage()"
                      (goPage)="goToPage($event)" (pageSize)="newPageSize($event)">
                    </app-admin-pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
