<div class="main-panel">
  <div class="content">
    <div class="page-inner">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row">
                <div class="card-title">Most visted products</div>


                <div class="form-group  mr-3">
                  <label>Select date </label>
                  <input class="form-control" bsDatepicker
                     [(ngModel)]="date"
                    placeholder="YYYY-MM-DD" type="text" autocomplete="off" >
                </div>
                <!-- <div class="form-group  mr-3">
                  <label for="filter">User filter:</label>
                  <select class="form-control" (change)="Filter2($event,date)">
                    <option value="0" selected="">Select Option</option>
                    <option  *ngFor="let c of Users;" [value]="c.Id">{{c.Name}}</option>
                  </select>
                </div> -->


                <!-- <div class="btn-group btn-group-page-header ml-auto"> -->
                  <button type="button" class="btn btn-sm btn-success" (click)="Dashboard(date)">submit</button>
                <!-- </div> -->
                <!-- <div class="form-group">
                  <label for="filter">User sessions:</label>
                  <select class="form-control" (change)="Filter3($event)" >
                    <option value="0" selected="">Select Option</option>
                    <option  *ngFor="let c of sessions;" [value]="c.Guid">{{c.SessionId}}</option>


                  </select>
                </div> -->

              </div>
            </div>

            <div class="row ">
              <div class="col-md-12">
                <!-- Modal -->
                  <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="card">


                            <!-- setmostSearchedProducts() -->

                             <div class="card-body"  *ngIf="SeconedGraph">
                              <div class="chart-board" >
                                <ejs-tab id="element" heightAdjustMode='800px' overflowMode='Scrollable'>
                                  <e-tabitems>
                                      <e-tabitem>
                                        <ng-template #headerText>
                                          <div>
                                           Page
                                          </div>
                                        </ng-template>
                                          <ng-template #content >
                                            <!-- (click)="onClick2($event)" -->
                                            <div id="bestSellers" ></div>
                                          </ng-template>
                                      </e-tabitem>
                                  </e-tabitems>
                                </ejs-tab>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>

                    </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
