<div class="wrapper">
  <!--
        Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
        -->
  <div class="main-header" data-background-color="purple">
    <!-- Logo Header -->
    <div [routerLink]="['/']" routerLinkActive="router-link-active" class="logo-header">

      <a href="#" [routerLink]="['/']" routerLinkActive="router-link-active" class="logo">
        <img src="assets/img/logo.png" alt="navbar brand" class="navbar-brand">
      </a>
      <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <i class="fa fa-bars"></i>
        </span>
      </button>
      <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
      <div class="navbar-minimize">
        <button class="btn btn-minimize btn-rounded">
          <i class="fa fa-bars"></i>
        </button>
      </div>
    </div>
    <!-- End Logo Header -->

    <!-- Navbar Header -->
    <nav class="navbar navbar-header navbar-expand-lg">

      <div class="container-fluid">
        <div class="collapse" id="search-nav">
          <form class="navbar-left navbar-form nav-search mr-md-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <button type="submit" class="btn btn-search pr-1">
                  <i class="fa fa-search search-icon"></i>
                </button>
              </div>
              <input type="text" placeholder="Search ..." class="form-control">
            </div>
          </form>
        </div>

        <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
          <li>
        <label>
          <select class="form-control language-select" #languageselect
            (change)="translate.use(languageselect.value)" *ngIf="languageValue=='espanol'">

            <option value="espanol" selected>
              espanol
            </option>
            <option value="english">
              english
            </option>
          </select>
          <select class="form-control language-select" #languageselect
            (change)="translate.use(languageselect.value)" *ngIf="languageValue=='english'">

            <option value="espanol">
              espanol
            </option>
            <option value="english" selected>
              english
            </option>
          </select>
        </label>
      </li>
      </ul>

        <!-- <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">

          <li><label>
            <select class="form-control" #languageselect (change)="translate.use(languageselect.value)">
              <option *ngFor=" let lang of translate.getLangs()" selected value="{{languageValue}}">
                {{lang}}
              </option>
            </select>
          </label>
        </li>


          <li class="nav-item dropdown hidden-caret">
            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
              <div class="user">
                <div class="avatar-sm float-left mr-2">
                  <img src="assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                </div>
                <div class="info float-left">
                  <span>
                    Welcome! <br>Pistis admin


                  </span>
                </div>
              </div>
            </a>
            <ul class="dropdown-menu dropdown-user animated fadeIn">
              <li>
                <div class="user-box">
                  <div class="avatar-lg"><img src="assets/img/profile.jpg" alt="image profile"
                      class="avatar-img rounded"></div>
                  <div class="u-text">
                    <h4>Hizrian</h4>
                    <p class="text-muted">hello@example.com</p><a href="profile.html"
                      class="btn btn-rounded btn-danger btn-sm">View Profile</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">My Profile</a>
                <a class="dropdown-item" href="#">My Balance</a>
                <a class="dropdown-item" href="#">Inbox</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Account Setting</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Logout</a>
              </li>
            </ul>
          </li>

        </ul> -->
      </div>
    </nav>
    <!-- End Navbar -->
  </div>
  <!-- Sidebar -->
  <div class="sidebar">

    <div class="sidebar-wrapper scrollbar-inner">
      <div class="sidebar-content">

        <ul class="nav">


        <li class="nav-item">
          <a data-toggle="collapse" href="#" [routerLink]="['/admin/dashboard']"
            routerLinkActive="router-link-active">
            <i class="fas fa-table"></i>
            <p>Dashboard </p>

          </a>

        </li>
          <li class="nav-item">
            <a data-toggle="collapse" href="#" [routerLink]="['/admin/products/productlist']"
              routerLinkActive="router-link-active">
              <i class="fas fa-th-list"></i>
              <p>Products</p>

            </a>

          </li>

          <li class="nav-item">
            <a data-toggle="collapse" href="#" [routerLink]="['/admin/FeatureProducts']"
              routerLinkActive="router-link-active">
              <i class="fas fa-table"></i>
              <p>Feature Products</p>

            </a>

          </li>

          <li class="nav-item">
            <a data-toggle="collapse" href="#" [routerLink]="['/admin/sliderImages']"
              routerLinkActive="router-link-active">
              <i class="fas fa-th"></i>
              <p>Slider Images</p>

            </a>

          </li>
          <li class="nav-item">
            <a data-toggle="collapse" href="#" [routerLink]="['/admin/BannerUpload']" routerLinkActive="active-link">
              <i class="fas fa-images"></i>
              <p>Banner Images</p>

            </a>

          </li>
          <li class="nav-item">
            <a data-toggle="collapse" href="#" [routerLink]="['/admin/vendorlist']"
              routerLinkActive="router-link-active">
              <i class="fa fa-industry"></i>
              <p>Vendors List</p>

            </a>

          </li>
          <li class="nav-item">
            <a data-toggle="collapse" href="#" [routerLink]="['/admin/balance']"
              routerLinkActive="router-link-active">
              <i class="fa fa-industry"></i>
              <p>Vendor Balance List</p>

            </a>

          </li>
          <li class="nav-item">
              <a data-toggle="collapse" href="#useractivity">
                <i class="fas fa-stream"></i>
                <p>User Activity</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="useractivity">
                <ul class="nav nav-collapse">
                  <li>
                    <a [routerLink]="['/admin/UserActivity']" routerLinkActive="router-link-active">
                      <span class="sub-item">Last 20 mins User Activities</span>
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/admin/AllUsers']"routerLinkActive="router-link-active">
                      <span class="sub-item">All User Activities</span>
                    </a>
                  </li>

                </ul>
              </div>
            </li>

          <li class="nav-item">
            <a data-toggle="collapse" href="#" [routerLink]="['/admin/MenuList']" routerLinkActive="router-link-active">
              <i class="fas fa-bars"></i>
              <p> Category list</p>

            </a>

          </li>
          <li class="nav-item">
              <a data-toggle="collapse" href="#" [routerLink]="['/admin/commission']" routerLinkActive="router-link-active">
                <i class="fas fa-bars"></i>
                <p> Category Commission</p>

              </a>

            </li>

          <li class="nav-item ">
            <a href="#" [routerLink]="['/admin/CustomersList']" routerLinkActive="router-link-active">
              <i class="fas fa-user"></i>
              <p>Customers List</p>

            </a>
          </li>
          <li class="nav-item">
            <a data-toggle="collapse" href="#" [routerLink]="['/admin/CustomerGroupList']"
              routerLinkActive="router-link-active">
              <i class="fa fa-users"></i>
              <p>CustomerGroups</p>

            </a>

          </li>
          <!-- <li class="nav-item">
            <a data-toggle="collapse" href="#" [routerLink]="['/admin/NewsLetterList']"
              routerLinkActive="router-link-active">
              <i class="fa fa-newspaper-o"></i>
              <p>Newsletter</p>

            </a>

          </li> -->

          <li class="nav-item">
            <a data-toggle="collapse" href="#custompages">
              <i class="fas fa-stream"></i>
              <p>Footer Information</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="custompages">
              <ul class="nav nav-collapse">
                <li>
                  <a href="#" [routerLink]="['/admin/Footer-header-list']" routerLinkActive="router-link-active">
                    <span class="sub-item">Footer Header</span>
                  </a>
                </li>
                <li>
                  <a href="#" [routerLink]="['/admin/footer-url-list']" routerLinkActive="router-link-active">
                    <span class="sub-item">Footer Header & Url</span>
                  </a>
                </li>
                <li>
                  <a href="#" [routerLink]="['/admin/footerUrlDataList']" routerLinkActive="router-link-active">
                    <span class="sub-item">Footer Url Data</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a data-toggle="collapse" href="#report">
              <i class="fas fa-stream"></i>
              <p>Report</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="report">
              <ul class="nav nav-collapse">
                <li>
                  <a [routerLink]="['/admin/report/most-viewed']" routerLinkActive="router-link-active">
                    <span class="sub-item">Most Viewed</span>
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/admin/report/best-seller']" routerLinkActive="router-link-active">
                    <span class="sub-item">Best seller</span>
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/admin/report/low-stock']" routerLinkActive="router-link-active">
                    <span class="sub-item">Low stock</span>
                  </a>
                </li>
                <li>
                  <!-- [routerLink]="['/admin/customerReviews']" routerLinkActive="router-link-active" -->
                  <a (click)="customerReview()">
                    <span class="sub-item">Customer's review</span>
                  </a>
                </li>
                <li >
                  <a [routerLink]="['/admin/orderReport']" routerLinkActive="router-link-active">
                  <span class="sub-item">Order's report</span>
                  </a>
                  </li>
                  <li>
                  <a [routerLink]="['/admin/return']" routerLinkActive="router-link-active">
                  <span class="sub-item">Refund's list</span>
                  </a>
                  </li>
                <li>
                  <!-- [routerLink]="['/admin/productReviews']" routerLinkActive="router-link-active" -->
                  <a (click)="ProductReview()">
                    <span class="sub-item">Product's review</span>
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/admin/customerReport']" routerLinkActive="router-link-active">
                    <span class="sub-item">Customers  report</span>
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/admin/SpinWheel/Report']" routerLinkActive="router-link-active">
                    <span class="sub-item">Spinner  </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
              <a data-toggle="collapse" href="#newsletter">
                <i class="fas fa-stream"></i>
                <p>Newsletter Information</p>
                <span class="caret"></span>
              </a>
              <div class="collapse" id="newsletter">
                <ul class="nav nav-collapse">
                  <li>
                    <a [routerLink]="['/admin/NewsLetterList']" routerLinkActive="router-link-active">
                      <span class="sub-item">Newsletter</span>
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/admin/newsTempList']" routerLinkActive="router-link-active">
                      <span class="sub-item">Newsletter template</span>
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/admin/newsLetter_image']" routerLinkActive="router-link-active">
                      <span class="sub-item">Newsletter Image</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a data-toggle="collapse" href="#" [routerLink]="['/admin/deals']"
              routerLinkActive="router-link-active">
              <i class="fa fa-star"></i>
              <p>Deal</p>
              </a>
              </li>
              <li class="nav-item">
                <a data-toggle="collapse" href="#" [routerLink]="['/admin/productTag']"
                routerLinkActive="router-link-active">
                <i class="fa fa-tag"></i>
                <p>Product's Tag</p>
                </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#" [routerLink]="['/admin/searchterm']"
                    routerLinkActive="router-link-active">
                    <i class="fa fa-tag"></i>
                    <p>Search Terms</p>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a data-toggle="collapse" href="#" [routerLink]="['/admin/tracking']"
                    routerLinkActive="router-link-active">
                    <i class="fa fa-tag"></i>
                    <p>Tracking</p>
                    </a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#" [routerLink]="['/admin/testimonial']"
                        routerLinkActive="router-link-active">
                        <i class="fa fa-tag"></i>
                        <p>Testimonial</p>
                        </a>
                        </li>
                    <li class="nav-item">
                    <a data-toggle="collapse" href="#" [routerLink]="['/admin/variants']"
                    routerLinkActive="router-link-active">
                    <i class="fa fa-tag"></i>
                    <p>Variants</p>
                    </a>
                    </li>
                    <li class="nav-item">
                      <!-- [routerLink]="['/admin/homeCategory']"
                      routerLinkActive="router-link-active" -->
                      <a data-toggle="collapse" href="#"  (click)="HomeClick()">
                      <i class="fa fa-tag"></i>
                      <p>Home Lists</p>
                      </a>
                      </li>
                      <li class="nav-item">
                        <a data-toggle="collapse" href="#" [routerLink]="['/admin/SpinWheel/list']"
                        routerLinkActive="router-link-active">
                        <i class="fa fa-tag"></i>
                        <p>Spin Wheel</p>
                        </a>
                        </li>
                        <li class="nav-item">
                          <a data-toggle="collapse" href="#" [routerLink]="['/admin/SpinWheel/Avalibility']"
                          routerLinkActive="router-link-active">
                          <i class="fa fa-tag"></i>
                          <p>Spin option period</p>
                          </a>
                          </li>
                          <li class="nav-item">
                            <a data-toggle="collapse" href="#" [routerLink]="['/admin/cropper']"
                            routerLinkActive="router-link-active">
                            <i class="fa fa-tag"></i>
                            <p>Image Cropper</p>
                            </a>
                            </li>

                            <li class="nav-item">
                              <a data-toggle="collapse" href="#" [routerLink]="['/admin/productVarients']"
                              routerLinkActive="router-link-active">
                              <i class="fa fa-tag"></i>
                              <p>Product Varients price</p>
                              </a>
                              </li>

                              <li class="nav-item">
                                <a data-toggle="collapse" href="#Track">
                                  <i class="fas fa-stream"></i>
                                  <p>Track</p>
                                  <span class="caret"></span>
                                </a>
                                <div class="collapse" id="Track">
                                  <ul class="nav nav-collapse">
                                    <li>
                                      <a [routerLink]="['/admin/Enable']" routerLinkActive="router-link-active">
                                        <span class="sub-item">Enable logs</span>
                                      </a>
                                    </li>
                                    <li>
                                      <a [routerLink]="['/admin/trackProductDet']" routerLinkActive="router-link-active">
                                        <span class="sub-item">Product detail</span>
                                      </a>
                                    </li>

                                    <li>
                                      <!-- [routerLink]="['/admin/customerReviews']" routerLinkActive="router-link-active" -->
                                      <a [routerLink]="['/admin/TrackHome']" routerLinkActive="router-link-active">
                                        <span class="sub-item">Home page</span>
                                      </a>
                                    </li>
                                    <li >
                                      <a [routerLink]="['/admin/checkout']" routerLinkActive="router-link-active">
                                      <span class="sub-item">checkout page</span>
                                      </a>
                                      </li>

                                      <li >
                                        <a [routerLink]="['/admin/TrackCart']" routerLinkActive="router-link-active">
                                        <span class="sub-item">My cart page</span>
                                        </a>
                                        </li>
                                        <li >
                                          <a [routerLink]="['/admin/track/trackwish']" routerLinkActive="router-link-active">
                                          <span class="sub-item">Wishlist page</span>
                                          </a>
                                          </li>
                                          <li >
                                            <a [routerLink]="['/admin/track/trackcat']" routerLinkActive="router-link-active">
                                            <span class="sub-item">Product catelogue page</span>
                                            </a>
                                            </li>
                                            <li >
                                              <a [routerLink]="['/admin/track/trackComp']" routerLinkActive="router-link-active">
                                              <span class="sub-item">Compare page</span>
                                              </a>
                                              </li>
                                              <li >
                                                <a [routerLink]="['/admin/track/trackHeader']" routerLinkActive="router-link-active">
                                                <span class="sub-item">Header page</span>
                                                </a>
                                                </li>
                                                <li >
                                                  <a [routerLink]="['/admin/track/trackFooter']" routerLinkActive="router-link-active">
                                                  <span class="sub-item">Footer page</span>
                                                  </a>
                                                  </li>
                                                  <li >
                                                    <a [routerLink]="['/admin/track/trackUserLogin']" routerLinkActive="router-link-active">
                                                    <span class="sub-item">User Login</span>
                                                    </a>
                                                    </li>

                                                      <li >
                                                        <a [routerLink]="['/admin/track/trackCustReg']" routerLinkActive="router-link-active">
                                                        <span class="sub-item">Register Login</span>
                                                        </a>
                                                        </li>
                                                        <li >
                                                          <a [routerLink]="['/admin/track/allreviews']" routerLinkActive="router-link-active">
                                                          <span class="sub-item">All reviews</span>
                                                          </a>
                                                          </li>
                                                          <li >
                                                            <a [routerLink]="['/admin/track/dealDetails']" routerLinkActive="router-link-active">
                                                            <span class="sub-item">Deal catelogue</span>
                                                            </a>
                                                            </li>
                                              <!-- confirmation -->
                                              <li >
                                                <a [routerLink]="['/admin/track/confirmation']" routerLinkActive="router-link-active">
                                                <span class="sub-item">Confirmation</span>
                                                </a>
                                                </li>
                                                             <!-- confirmation -->
                                              <li >
                                                <a [routerLink]="['/admin/track/allnotification']" routerLinkActive="router-link-active">
                                                <span class="sub-item">All notification</span>
                                                </a>
                                                </li>
                                                <!-- myorders -->
                                                <li >
                                                  <a [routerLink]="['/admin/track/myorders']" routerLinkActive="router-link-active">
                                                  <span class="sub-item"> My orders page</span>
                                                  </a>
                                                  </li>
                                                  <!-- trackMyProfile -->
                                                  <li >
                                                    <a [routerLink]="['/admin/track/trackMyProfile']" routerLinkActive="router-link-active">
                                                    <span class="sub-item"> My profile page</span>
                                                    </a>
                                                    </li>
                                                    <li >
                                                      <a [routerLink]="['/admin/track/trackDashboard']" routerLinkActive="router-link-active">
                                                      <span class="sub-item"> Dhasboard</span>
                                                      </a>
                                                      </li>
                                                      <li >
                                                        <a [routerLink]="['/admin/track/trackMobileDhash']" routerLinkActive="router-link-active">
                                                        <span class="sub-item"> Dhasboard mobile</span>
                                                        </a>
                                                        </li>
                                                        <li >
                                                          <a [routerLink]="['/admin/track/liveTraffic']" routerLinkActive="router-link-active">
                                                          <span class="sub-item"> Live  Report</span>
                                                          </a>
                                                          </li>
                                                          <li >
                                                            <a [routerLink]="['/admin/track/UserliveTraffic']" routerLinkActive="router-link-active">
                                                            <span class="sub-item"> User Report</span>
                                                            </a>
                                                            </li>
                                                            <li >
                                                              <a [routerLink]="['/admin/track/OrderLiveReport']" routerLinkActive="router-link-active">
                                                              <span class="sub-item"> sales/order report</span>
                                                              </a>
                                                              </li>
                                                              <li >
                                                                <a [routerLink]="['/admin/track/error']" routerLinkActive="router-link-active">
                                                                <span class="sub-item"> error report</span>
                                                                </a>
                                                                </li>
                                                                <li >
                                                                  <a [routerLink]="['/admin/track/ProductTrack']" routerLinkActive="router-link-active">
                                                                  <span class="sub-item"> Most Visted products</span>
                                                                  </a>
                                                                  </li>


                                  </ul>
                                </div>

                              </li>
                              <li class="nav-item">
                                <a data-toggle="collapse" href="#" [routerLink]="['/admin/track/trackDashboard']" routerLinkActive="router-link-active">
                                  <i class="fas fa-bars"></i>
                                  <p>Logs Dhashboard</p>

                                </a>

                              </li>


        </ul>
      </div>
    </div>
  </div>

  <router-outlet>

  </router-outlet>
