<div class="main-panel">
  <div class="content">
    <div class="page-inner">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row">
                <div class="card-title">{{'Register.AllFeatureProducts'|translate}}</div>
                <div class="btn-group btn-group-page-header ml-auto">
                  <button type="button" class="btn btn-success"
                    (click)="onClick()">{{'Register.AddFeatureProducts'|translate}}</button>
                </div>

              </div>
            </div>
            <div class="card-body">
              <!-- <div class="row">
                <div class="col-md-12">
                  <div class="input-group" id="adv-search">
                    <input type="text" class="form-control" [(ngModel)]="SearchName"
                      placeholder="{{'Register.SearchPlaceholder'|translate}}">

                  
                    <button type="button" class="btn btn-primary" (click)="search()"><span class="fa fa-search"
                        aria-hidden="true"></span></button>
                  </div>
                </div>
              </div> -->

            </div>
            <div class="row pt-3">
              <div class="col-md-12">
                  
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>

                        <th>{{'Register.FeatureProductName'|translate}}</th>
                        <th>{{'Register.CostPrice'|translate}}</th>
                        <th>{{'Register.SellingPrice'|translate}}</th>
                        <th>{{'Register.PriceAfterDiscount'|translate}}</th>
                        <th>{{'Register.Actions'|translate}}</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr *ngFor="let cat of list">
                        <td class="ml-2">{{cat.Name}}</td>
                        <td>{{cat.CostPrice}}</td>
                        <td>{{cat.SellingPrice}}</td>
                        <td>{{cat.PriceAfterDiscount}}</td>
                        <!-- <td><select  name="ParentId" #ParentId   class="form-control">
                                                        <option *ngFor="let c of dataList;" [value]="c.Id">
                                                        {{c.Name}}
                                                      </option>
                                                         </select> </td> -->

                        <!-- <td><div class="pro-thumb"><img  style="height: 50px;" src={{cat.Icon}}/></div></td> -->
                        <td><button (click)="onDelete(cat.Id)" class="btn btn-sm btn-outline-danger mr-2"><i
                              class="fas fa-trash"></i></button>
                          <!-- <button (click)="onEdit(cat.ProductId)" class="btn btn-sm btn-outline-danger"><i class="fas fa-edit" ></i></button> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-12">
                <div class="no-left-right" *ngIf="count">
                  <app-admin-pagination [count]="count" [page]="page" [(perPage)]="perPage" [pagesToShow]="pagesToShow"
                    (goPrev)="prevPage()" (goNext)="nextPage()" (goPage)="goToPage($event)"
                    (pageSize)="newPageSize($event)">
                  </app-admin-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div>
</div> -->
</div>
