<div class="wrapper">
    <!--
              Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
      -->
    <!--<div class="main-header" data-background-color="purple">
       <div class="logo-header" [routerLink]="['/']" routerLinkActive="router-link-active">
  
        <a class="logo">
          <img src="assets/img/logo.png" alt="navbar brand" class="navbar-brand">
        </a>
       
      </div> -->
      <header>
      <div class="checkout-header">
        <div class="checkout-logo">
            <img alt="logo" src="assets/img/logo.png">
        </div>
 </div>
</header>
      <!-- End Logo Header -->
  
      
  
  
    <router-outlet>
  
    </router-outlet>
  </div>